<div class="container">
  <div class="form-container">
    <div class="title">Create Account</div>

    <form>
      <mat-form-field appearance="outline">
        <mat-label>Enter your email</mat-label>
        <input matInput />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Enter your user name</mat-label>
        <input matInput />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Enter your user password</mat-label>
        <input matInput />
      </mat-form-field>
    </form>

    <div class="buttons-container">
      <button mat-raised-button class="login-button">Create Account</button>
      <p>OR</p>
      <button mat-raised-button routerLink="/login">Login</button>
    </div>
  </div>
</div>
